<% include partials/header %>

<h1>Friends list:</h1>

<% friends.forEach(function(friend){ %>
	<li><%= friend %></li>


<% }) %>

<form action="/addfriends" method="POST">
	<input name="newfriend" type="text" placeholder="name">
	<button>I made a new friend!</button>
</form>


<% include partials/footer %>