<% include partials/header %>


<h1>Hi there,I'm a Home page for postRequestDemo</h1>

<img src="https://img.ltn.com.tw/Upload/liveNews/BigPic/600_phpUCF6ub.jpg"></img>


<% include partials/footer %>