	</div>
	</body>

	<!--change the  textname when uploaded file name 	 -->	
	<script>
            $('#image').on('change',function(){
                var fileName = $(this).val();
				if (fileName){
					var startIndex = (fileName.indexOf('\\') >= 0 ? fileName.lastIndexOf('\\') : -1);
					var fileName = fileName.substring(startIndex+1);
				}
                $(this).next('.custom-file-label').html(fileName);
            })
    </script>

</html>