<% include partials/header %>





<div class="container">
	
	<header class="jumbotron">
		<div class="container">  <!--  <== this seem not necessary  -->
			<h1>Welcome to YelpCamp!</h1>
			<p>View our hand-picked campgrounds from all of the world </p>
			<p>
				<a class="btn btn-primary btn-lg" href="/campgrounds/new">Add a new  
					campground</a>
			</p>	
		</div>
	</header>

	<div class="row mb-3">
		<div class="col-lg-12">
			<h3>Our most popular Campground!</h3>
		</div>
	</div>
	
	<div class="row text-center" style="display:flex; flex-wrap:wrap ">
		<% campgrounds.forEach((camp)=>{ %>
		  <div class="col-md-3 col-sm-6 mb-4">
			  <div class="card">
				<img class="card-img-top" src="<%=camp.image%>">
				<div class="card-body p-3">
					<h5 class="card-title m-0"><%=camp.name%></h5>
			   </div>
			   <p>
				   <a href="/campgrounds/<%=camp._id %>" class="btn btn-primary">More Info</a>
			   </p>
			</div> 
		  </div>

		<% }) %>
	</div>
	
</div>



<% include partials/footer %>
