<% include ./partials/header %>

<div class=row>
	
	<h1 class="col-12 text-center pr-4 mb-4">忘記密碼</h1>
	
	<div style="" class="mx-auto  col-sm-10 col-md-8 col-lg-4 px-4">
		<form class="text-center "action="/forgot" method="post">
			<div class="form-group row text-center">
					<label for="forgot-email" class=" col-4 col-form-label ">信箱</label>
					<div class="col-8 ">
						<input id="forgot-email" class="form-control" type="email" 
							   name="email" autofoucs>
					</div>
			</div>
			<div class="col-8  mx-auto">
				<button class="btn btn-lg btn-primary btn-block" >接收郵件</button>
				<div class="col-12 text-left mt-3 pl-0">
					<a  href="/campgrounds">返回</a>
				</div>
			</div>
			
		</form>
		
	</div>

</div>




<% include ./partials/footer %>