<% include ../partials/header %>


  <div class="row">	
	<h1 class="col-12 text-center">新增評論到《<%=campground.name %>》</h1>
	  
	<div id="comment-form">
		<form class="col-12 form-group" action="/campgrounds/<%=campground._id %>/comments" method="POST">
			<div class="form-group">
				<label for="comment-text"  ></label>
				<textarea  id="comment-text" class="form-control" name="comment[text]" placeholder="你的想法" ></textarea>
			</div>
	
			<div class="form-group">
				<button class="btn btn-lg btn-primary btn-block" >提交</button>
			</div>			
				<a class="col-12" href="/campgrounds/<%=campground._id %>">返回</a>
		</form>
	</div>
	  

  </div>

<% include ../partials/footer %>