body{
	font-family:'Noto Serif TC', "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;
	
}

#campgrounds-index{
	display:flex; 
	flex-wrap:wrap;
}


/* campground-form's width&height */
#campground-form,#comment-form{
	width:30% ; 
	margin: 25px auto
	
}

@media screen and (max-width:1200px){

	#campground-form,#comment-form{
		width:40% ; 
		margin: 25px auto;

	}
	
	
	
}


@media screen and (max-width:992px){

	#campground-form,#comment-form{
		width:60% ; 
		margin: 25px auto;

	}
	
	
	
}

@media screen and (max-width:768px){

	#campground-form,#comment-form{
		width:70% ; 
		margin: 25px auto;

	}
	
	
	
}

@media screen and (max-width:576px){

	#campground-form,#comment-form{
		width:80% ; 
		margin: 25px auto;

	}
	
	
	
}



/* Profile's campgrounds size srtting */
#campsDisplay_inProfile .card-text{
	overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 4; /* number of lines to show */
   line-height: 16px;        /* fallback */
   max-height: 64px;       /* fallback */
}




/* campfround index's search button */
.jumbotron  .form-group .btn{
	border: 1px solid #ced4da;
	background-color: #ffffff;
}


/* text area's display */
.card .card-text , .card .group_text{
	white-space: pre-wrap;
}
.form-group textarea{
	height: 180px;
}


/* img (file input)'s text */

#campground-form .custom-file-label::after{
	content: "瀏覽";
}




/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}


.delete-form{
	display:inline;
}
.group_text{
	display:inline;
}
.group_btn{
	margin-left:auto;
	display:inline-block;
}

.btn-group-xs > .btn, .btn-xs {
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
}