<% include ./partials/header %>

<h1>Register Page</h1>

<form action="/register" method="POST">
	<input name="username" type="text" placeholder="username">
	<input name="password" type="password" placeholder="password">
	<button>submit</button>
</form>

<% include ./partials/footer %>