<h1>
	Sign up form to Register
</h1>

<form action="/register" method="POST">
	<input name="username" type="text" placeholder="username">
	<input name="password" type="password" placeholder="password">
	<button>submit</button>
</form>

<li><a href="/register">Sign Up</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>