<% include ../partials/header %>


  <div class="row">	
	<h1 class="col-12 text-center">Create a new Campground</h1>
	  
	<div id="campground-form" >
		<form class="col-12 form-group" action="/campgrounds" method="POST" enctype="multipart/form-data">
			<div class="form-group">
				<label for="campground-name">Campground's name</label>
				<input class="form-control" id="campground-name" 
					   name="campground[name]"  placeholder="name" type="text" required>
			</div>
			<div class="form-group">
				<label for="campground-price">Price</label>
				<input class="form-control" id="campground-price" name="campground[price]"  placeholder="/night" 
					   type="number" min="0" step="1" required>
			</div>
			<!-- <div class="form-group">
                    <label for="image">Image</label>
                    <input  class="form-control" type="file" id="image" name="image" accept="image/*" required>
            </div> -->
			
			<div class="form-group">
				<label for="image">Image</label>
				<div class="input-group mb-3">
				  <div class="custom-file">
					<input type="file" class="custom-file-input" 
						   name="image"  id="image" accept="image/*" required>
					<label class="custom-file-label" for="image">Choose file</label>
				  </div>
				</div>		
			</div>
	
			<div class="form-group">
    			<label for="location">Location</label>
    			<input class="form-control" type="text" name="campground[location]" 
					   id="location" placeholder="Yosemite National Park, CA">
			</div>		
				
			<div class="form-group">
				<label for="location">Description</label>
				<textarea  id="campground-description" class="form-control" name="campground[description]" 
				 required>your thought
				</textarea>
			</div>
	
			<div class="form-group text-left">
				<button class="btn btn-lg btn-primary btn-block" >Submit!</button>
			</div>			
				<a class="col-12" href="/campgrounds">Back</a>
		</form>
	</div>
	  

  </div>

<% include ../partials/footer %>