<h1>Search for a movie!</h1>

<form action="/results" method="GET">
	<input name="movieKeyWord" type="text" placeholder="search term">
	<input type="submit">
	<!-- <button>Search!</button> -->
</form>